<%= simple_form_for(@measure_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :click_frequency %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
